---
import '../styles/global.css';
import '@fontsource/fugaz-one';

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Smelter Grand Slam</title>
	</head>
	<body>
		<h1>Coming Soon</h1>

		<footer>
		<p>Built with <a href="https://astro.build">{Astro.generator}</a>. Hosted by <a href="https://netlify.com/">Netlify</a></p>
		</footer>
	</body>
</html>
